<h1>Edit <%= @pet.name %></h1>

<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name:</label>
  <input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>">

  <h2>Exiting Owners</h2>
  <% @owners.each do |owner| %>
  <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%= 'checked' if @pet.owner_id == owner.id %>>
  <label><%= owner.name %></label><br>
  <% end %>

  <h2>Create a New Owner</h2>

  <label for="owner[name]">Owner Name:</label>
  <input type="text" name="owner[name]" id="owner_name"><br><br>

  <input type="submit" value="Update Pet">

</form>
